<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<style>
		.background {
			background-size: cover;
		}

		.news-container {
			background-color: white;
		}

		.sentence-0 {
			background-color: green;
		}

		.sentence-1 {
			background-color: yellow;
		}

		.sentence-2 {
			background-color: orange;
		}

		.sentence-3 {
			background-color: red;
		}
	</style>
</head>
<body background='{{ url_for('static', filename='fakenews.jpg') }}' class="background">
	<div class="container-fluid">
		<div class="row">
			<div class="col-8 offset-2">
				<div class="news-container">
					{% for sentence in sentences %}
						<span class="sentence-{{ sentence[1] }}">{{ sentence[0] }}</span>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>

