<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<style>
		.background {
			background-size: cover;
		}

		.title {
			color: white;
			text-shadow: 2px 0px black;
		}

		.submit-btn {
			width: 100px;
		}
	</style>
</head>
<body background='{{ url_for('static', filename='fakenews.jpg') }}' class="background">
	<div class="container-fluid">
		<div class="row">
			<div class="col-6 offset-3">
				<form method = "POST" id = news_form>
					<div class="text-center">
						<h1 class="title">Enter News Article:</h1>
					</div>
					<textarea name = "news_article" value="" class="form-control" rows="10">
A Super Blue Blood Moon is coming
A rare celestial occurrence called a 'Super Blue Blood Moon' will be visible on January 31, 2018. What exactly is this rare phenomenon and where can you see it?

Skywatchers are being treated to the extremely rare phenomenon of a super blue blood moon early Wednesday.

The unusual lunar trifecta is occurring for the first time in North America since 1866, according to Space.com.

SUPER BLUE BLOOD MOON 2018: WHAT, WHEN AND WHERE


Our first view of the #SuperBlueBloodMoon is brought to you by our @NASAArmstrong Flight Research Center! Tune in live here: https://t.co/r6X6SoMfLn pic.twitter.com/q6JEuMoZ67

— NASA (@NASA) January 31, 2018
“The Jan. 31 full moon is special for three reasons: it’s the third in a series of ‘supermoons,’ when the Moon is closer to Earth in its orbit -- known as perigee -- and about 14 percent brighter than usual,” explains NASA. “It’s also the second full moon of the month, commonly known as a ‘blue moon.’ The super blue moon will pass through Earth’s shadow to give viewers in the right location a total lunar eclipse. While the Moon is in the Earth’s shadow it will take on a reddish tint, known as a ‘blood moon.’

Will you be able to see the #SuperBlueBloodMoon in your area? Check out this map to find out! For the continental U.S., viewing will be best on the West Coast. Get the details: https://t.co/ooerjToxKR
Not great viewing in your area? Watch our livestream https://t.co/6wIIyicomc pic.twitter.com/scD4UzkVkf

— NASA (@NASA) January 30, 2018
“For the (continental) U.S., the viewing will be best in the West,” explained Gordon Johnston, program executive and lunar blogger at NASA Headquarters in Washington, in a statement.

Across the globe, skywatchers have been closely monitoring the moon to see the rare event.

People set up telescopes on the waterfront for the super blue moon and eclipse in Hong Kong, China January 31, 2018. REUTERS/Bobby Yip - RC16F8115BB0
People set up telescopes on the waterfront for the super blue moon and eclipse in Hong Kong, China Jan. 31, 2018. (REUTERS/Bobby Yip)

Photographers have also been capturing the phenomenon on camera.

The Statue of Liberty is backdropped by a supermoon, Wednesday, Jan. 31, 2018, seen from the Brooklyn borough of New York. The supermoon, which is the final of three consecutive supermoons, also experience lunar eclipse as it set over the horizon, but only a partial eclipse was visible in the East Coast. (AP Photo/Julio Cortez)
The Statue of Liberty is backdropped by a supermoon, Wednesday, Jan. 31, 2018, seen from the Brooklyn borough of New York. The supermoon, which is the final of three consecutive supermoons, also experience lunar eclipse as it set over the horizon, but only a partial eclipse was visible in the East Coast. (AP Photo/Julio Cortez)

Only a partial eclipse, however, was visible in the East Coast of the U.S.

The Statue of Liberty is backdropped by a supermoon, Wednesday, Jan. 31, 2018, seen from the Brooklyn borough of New York. The supermoon, which is the final of three consecutive supermoons, also experience lunar eclipse as it set over the horizon, but only a partial eclipse was visible in the East Coast. (AP Photo/Julio Cortez)
The Statue of Liberty is backdropped by a supermoon, Wednesday, Jan. 31, 2018, seen from the Brooklyn borough of New York. (AP Photo/Julio Cortez)

While the super blue blood moon is visible in the pre-dawn hours in much of the U.S., other parts of the world viewed the lunar event in the middle of the night.

A full moon is seen during a lunar eclipse in Jakarta, Indonesia January 31, 2018. REUTERS/Darren Whiteside - RC195D982040
A full moon is seen during a lunar eclipse in Jakarta, Indonesia Jan. 31, 2018. (REUTERS/Darren Whiteside)

The lunar spectactle is generating plenty of buzz on social media, with #SuperBlueBloodMoon a topic trending global topic on Twitter.

Watching the #SuperBlueBloodMoon !

— Oprah Winfrey (@Oprah) January 31, 2018
The #superbluebloodmoon from Melbourne. pic.twitter.com/1xKOxbnmqi

— City of Melbourne (@cityofmelbourne) January 31, 2018
LOOK: A blue moon is seen over the Mayon volcano crater in Ligao, Albay province at around 7 p.m. on Wednesday. #SuperBlueBloodMoon pic.twitter.com/c0BFCqmjm6

— The Philippine Star (@PhilippineStar) January 31, 2018
A commercial plane passes in front of a #SuperBlueBloodMoon as seen from Muntinlupa on Wednesday. pic.twitter.com/Hc4pNKlkje

— The Philippine Star (@PhilippineStar) January 31, 2018
Some Twitter users, however, were underwhelmed by the spectacle.

Expectation VS Reality #SuperBlueBloodMoon pic.twitter.com/4c8Kzqc9B6

— Emille Alejandro (@Emilliooooo) January 31, 2018
A NASA live feed of the event can be viewed here.

The unusual lunar showstopper won't happen again until 2037.

The Associated Press contributed to this article.

Follow James Rogers on Twitter @jamesjrogers


Trending in Science
 Dust storms that take over the Martian globe play a key role in promoting gas escape from the Red Planet's atmosphere , according to a new study.
Escape from Mars! Red-planet dust storms linked to atmosphere loss
 Skywatchers are being treated to the extremely rare phenomenon of a super blue blood moon early Wednesday.
Super blue blood moon delights skywatchers
 When Veterinary nurse Brittany Semeniuk went to Canada last November, she and her vet partner photographed an unusual encounter between a massive polar bear and a chained sled dog.
Polar bear and sled dog snuggle in unlikely interaction
 People from across the country are gazing up into the sky early Wednesday morning to get a glimpse of the rare Super Blue Blood Moon.
Super Blue Blood Moon 2018: What, when and where
</textarea>

					<br/>
					<br/>
					<div class="text-center">
				  		<input type="submit" value="Submit" class="btn btn-info submit-btn">
				  	</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

